@import "./etc/lds-roller.scss";
@import "./etc/typesets.scss";
@import "./fluent-ui/sass/_References.scss";

@keyframes marquee{
    0%{
        left: -50%;
    }

    100%{
        left: 150%;
    }
}

@keyframes doki-doki{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.05);
    }
}

@keyframes doki-kaboom{
    0%{
        transform: initial;
        opacity: 1;
    }
    30%{
        transform: scale(5);
        opacity: 0.1;
    }
    100%{
        transform: scale(10);
        opacity: 0;
    }
}

@keyframes float-struggle-up{
    0%{
        top: calc(100vh - 357px);
    }
    
    10%{
        top: calc(100vh - 390px);
    }

    50%{
        top: calc(100vh - 390px);
    }

    100%{
        top: calc(100vh - 357px);
    }
}

$input-top: calc(50vh - 20px);

:root{
    --barLeft: 0;
    --barRight: auto;
    --color-primary-light:rgb(66, 66, 66);
    --color-primary-light-transparent:rgb(66, 66, 66, 0.5);
    --color-background-light: #f3f3f3;
    --color-background-light-transparent: #f3f3f3b7;
    --color-shadow-light: rgb(117, 117, 117);
    --color-active-light: rgb(40, 104, 163);
    --color-inactive-light: rgb(136, 136, 136);
    --color-active-dark: #7BB0E3;
   
    --ms-themePrimary: #0078d4;
    --ms-themeLighterAlt: #f3f9fd;
    --ms-themeLighter: #d0e7f8;
    --ms-themeLight: #a9d3f2;
    --ms-themeTertiary: #5ca9e5;
    --ms-themeSecondary: #1a86d9;
    --ms-themeDarkAlt: #006cbe;
    --ms-themeDark: #005ba1;
    --ms-themeDarker: #004377;
    --ms-neutralLighterAlt: #f8f8f8;
    --ms-neutralLighter: #f4f4f4;
    --ms-neutralLight: #eaeaea;
    --ms-neutralQuaternaryAlt: #dadada;
    --ms-neutralQuaternary: #d0d0d0;
    --ms-neutralTertiaryAlt: #c8c8c8;
    --ms-neutralTertiary: #bab8b7;
    --ms-neutralSecondary: #a3a2a0;
    --ms-neutralPrimaryAlt: #8d8b8a;
    --ms-neutralPrimary: #323130;
    --ms-neutralDark: #605e5d;
    --ms-black: #494847;
    --ms-white: #ffffff;
}

.hidden{
    display:none!important;
}

.pseudo-hidden{
    opacity: 0!important;
    user-select: none!important;
    pointer-events: none!important;
}

.shadowSurge{
    @include ms-motion-slideDownIn;    
    animation-duration: 1s;
}

.shadowPlunge{
    @include ms-motion-fadeOut;
    animation-duration: 0.5s;
}

   
.dialog{
    @include ms-depth-64;
    display: block;
    position: fixed;
    z-index: 100000;
    padding: 10px;
    background-color: $ms-color-gray10;
    transition: all 0.3s ease;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
    border-radius: 4px;

    &::before{
        // content: '';
        position: fixed;
        background: var(--color-dim-light);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        transition: all 0.3s ease;
        z-index: 999
    }
}

body{
    transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    min-width:300px;
    background: $ms-color-neutralLighter;;
    outline-color: $ms-color-themePrimary;
    overflow: hidden;
    
    label{
        user-select: none;
    }

    #header{
        cursor: default;
        user-select: none;
        white-space: nowrap;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        -khtml-user-select: none;
        -webkit-touch-callout: none;

        em{
            font-size: 1vmin;
            margin-bottom: 10px;
        }

        h1{
            font-weight: bold;
            margin-bottom: 1px;
            white-space: nowrap;
            height: 3vw;
            font-size: 30px;
        }
    }
    
    #foreground{
        position: fixed;
        z-index: 10000;
        display:none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);  
        
        #text{
            /*Internet Explorer 10*/
            display:-ms-flexbox;
            -ms-flex-pack:center;
            -ms-flex-align:center;
            /*Firefox*/
            display:-moz-box;
            -moz-box-pack:center;
            -moz-box-align:center;
            /*Safari, Opera, and Chrome*/
            display:-webkit-box;
            -webkit-box-pack:center;
            -webkit-box-align:center;
            /*W3C*/
            display:box;
            box-pack:center;
            box-align:center;
            
            width:300px;
            height:150px;

            position: relative;
            top: calc(50% - 75px);
            left: calc(50% - 150px);
            color: var(--color-primary);
            background: #fff;

            border-radius:5px;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            -ms-border-radius:5px;
            -o-border-radius:5px;

            box-shadow: var(--color-shadow) 0px 0px 10px;
            -moz-box-shadow: var(--color-shadow) 0px 0px 10px;
            -ms-box-shadow: var(--color-shadow) 0px 0px 10px;
            -webkit-box-shadow: var(--color-shadow) 0px 0px 10px;
            -o-box-shadow: var(--color-shadow) 0px 0px 10px;

            font-size: 17px;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;

            cursor: none;

            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            -ms-border-radius:5px;
            -o-border-radius:5px;

            span{
                position: absolute;
                bottom: 5px;
                margin:auto;
                width: 100%;
                text-align: center;
                white-space: nowrap;
            }

            .lds-roller{
                display: inline-block;
                position: absolute;
                top: 30px;
            }           
        }
    }
}

#defTableHolder{
    // max-height: calc(100vh - 400px);
    padding: 0 5px;
    overflow-y: auto;

    // #defTable{
    //     // height: calc(50vh - 10px)!important;
    //     .wTHolder{
    //         height: calc(50vh - 10px)!important;

    //         .wtHider{
    //             height: unset!important;
    //         }
    //     }
    // }

    #defTable{
        min-width: 700px;
        overflow-x: auto;
        overflow-y: hidden;
        .ht_master .wtHolder {
            overflow: visible;
        }
        table.htCore{
            width: 100%;
            margin-right:15px;
            tr{
                td:nth-child(3){
                    // background:yellow;
                }
            }
        }
    }
}



#tmp{
    
    *{
        width:0;
        height:0;
        opacity:0;
        overflow: hidden;
        pointer-events: none;
    }
}
.float{
    z-index: 10000;
}

.options.float{

    &::after{
        content: ' ';
        font-size: 12px;    
        position: absolute;
        top: 8px;
        left: 30px;
        font-weight: 800;
        pointer-events: none;
        z-index: 3;
    }

    &::before{
        font-size: 12px;    
        position: absolute;
        top: 8px;
        left: 10px;
        display: inline-block;
        font-family: FabricMDL2Icons;
        font-style: normal;
        font-weight: 800;
        pointer-events: none;
        z-index: 3;
    }
    &:hover{
        @include ms-depth-64;
    }

    animation-duration: 0.5s;
    animation-delay: 750ms;
    padding: 0px 5px 5px 5px;
    border-radius: 4px;
    position: fixed;
    top: calc(100vh - 31px);
    left: 5px;
    right:5px;
    background-color: #fff;
    @supports (backdrop-filter: blur(20px)) {
        background-color: rgba(255,255,255,.2);
        backdrop-filter: blur(20px);
    }
    width: calc(100vw - 10px);
    height: 350px;
    @include ms-depth-16;
    border: 1px solid $ms-color-gray40;
    transition: all 275ms ease-in;

    .options-toggler{
        position: relative;
        width:100%;
        height:35px;
        display:block;
        cursor:pointer;
        margin-bottom: 10px;
        z-index: 3;

        .btn-close{
            right: 8px;
            top: 8px;
            font-size: 12px;
            position: absolute;
            display: block;
            color: $ms-color-gray130;
            transform: rotate(0);
            transition: all 500ms linear;
            font-weight: 600;
        }
    }

    &.show{
        top: calc(100vh - 357px);
        animation: float-struggle-up 225ms ease-out 250ms;
        @include ms-depth-64;
        border-color: #fff;

        .options-toggler .btn-close{
            transform: rotate(180deg);

            &:hover{
                color: $ms-color-sharedPinkRed10;
                text-shadow:  ms-depth-shadow-18;
            }
        }
    }    
}

#checkUI-holder{
    border: none;
    padding:0;
    &::before{
        @include ms-Icon--ConfigurationSolid;
    }
    &::after{
        content: 'Check Params';
        left: calc(50vw - 36px);
    }

    &.show #checkUI {
        &>.row{     
            &>div{
                &:nth-child(2){
                    background-color: rgba(255,255,255,1);
                }
            }
        }
    }

    #checkUI {
        padding: 0px;
        height: 100%;
        &>.row{
            height: 100%;
        &>div{
                &:first-child{
                    margin-left:0;
                    padding-left: 0;
                    padding-right: 0;
                    height: 100%;
                    position:absolute;
                    top: 0;
                    left:0;
                    padding-top: 40px;
                    z-index:2;
                    transition: all 0.3s linear;
                }
                &:nth-child(2){
                    position: absolute;
                    top: 0;
                    right:0;
                    background-color: transparent;
                    transition: 0.3s background-color ease-in;
                    // margin-top: -45px;
                    padding-top: 45px;
                    border-radius: 0 4px 4px 0;
                    height: 100%;
                    pointer-events: none;
                }
            }
        }
        .nav>li{
            &>a{
                padding: 5px 7px;
                color: $ms-color-neutralPrimary;
                border-radius: 0;
                border-left: 4px solid transparent;
                transition: all 300ms ease-in-out;
                font-size: 12px;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
    
                &:hover{
                    background-color: unset;
                    border-left-color: $ms-color-neutralPrimary;
                    color: $ms-color-themeDarker;
                }
            }
    
            &.active>a{
                border-left-color: $ms-color-themePrimary;
                color: $ms-color-themePrimary;
                background-color: unset;
            }
        }
        
        .tab-content{
            pointer-events: visible;
            .arg-holder{
                float: left;
                width: 75%;
                height: 300px;
                overflow-y: auto;
                padding: 5px;
            }

            .instr-holder{
                float: left;
                width: 25%;
                height: 300px;
                overflow: auto;
                font-size: 12px;
            }

            .tab-pane.active>div{
                @include ms-motion-slideUpIn;
                animation-duration: 300ms;
            }
        }
    }
}

#dataOptions{
    float: left;
    z-index: 100001;
    padding: 0;
    width: 30px;
    height: 30px;
    margin-top: -3px;
    position: absolute;
    
    #datasetMenu{
        
        padding: 0 0 0 10px;
        border: none;
        background-color: transparent;
        color: $ms-color-gray110;
        transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        -moz-transition: 0.3s all ease;
        -ms-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        
        &:hover{
            color: $ms-color-themeDarkAlt;
        }

        &:active{
            box-shadow: none;
            border: none;
            outline: none;
            color: $ms-color-themeDarkAlt;
        }
    
        span{
            display:none;
        }

        i{
            font-size: 20px;
            @include ms-motion-slideRightIn;
            animation-duration: 400ms;
        }
    }

    #dropdown-menu-datasetMenu{
        padding:0;
        margin-left:10px;
        border: 1px solid transparent;
        @include ms-depth-8;
        @include ms-motion-slideDownIn;
        animation-duration:300ms;

        ul{
                   
            @include ms-depth-8;
            border-radius: 4px;

            &:not(#dataset-menu){
                @include ms-motion-slideRightIn;
                animation-duration:300ms!important;
            }

            &#dataset-menu{
                @include ms-depth-8;

                &>li{
                    padding: 2.5px 0;

                    &:first-child{
                        padding-top: 10px;
                    }

                    &:last-child{
                        padding-bottom: 10px;
                    }
                }

                li.disabled{
                    pointer-events: none;
                    color: $ms-color-neutralQuaternary;
                    font-style: italic;
                }
            }
            
        }

        & > li{
            margin-left:0!important;
            margin-right:0!important;
        
            .menu-button{
                div.form-group.shiny-input-container{
                    display:none;
                }

                p{
                    margin:0;
                }
            }

            ul{
                width:100%;
            }

            // &:first-child{
            //     margin-top:5px;
            // }
        }
    }

    #columns-chooser-holder, #key-var-chooser-holder, #id-var-chooser-holder, #checks-chooser-holder {
        border: 1px solid transparent;
        border-radius: 0 4px 4px 4px;
        padding-bottom: 10px;
        padding-top: 5px;
        overflow-x: hidden;

        .disabled{
            pointer-events: none;
        }

        .awesome-checkbox-chooser{
            max-height: 518px;
            @media screen and (max-height: 728px){
                max-height: calc(100vh - 210px);
            }
            width: auto;
            overflow-y:hidden!important;
            overflow-x:hidden;
            padding: 0;

            &>p{
                padding: 5px 5px 5px 5px;
                margin: 0;
                color: $ms-color-neutralDark;
                text-align:right;
                font-style: italic;
            }

            &::-webkit-scrollbar { 
                display: none; 
            }

            @supports (-ms-content-zooming: none){
                margin-top:-25px;
            }
        }

        .awesome-checkbox-menu{
            padding: 0px 0px 0px 7px!important;
            max-height: 518px;
            @media screen and (max-height: 728px){
                max-height: calc(100vh - 210px);
            }
            overflow-y: auto;
            // min-height: 100px;
            box-sizing: border-box;
            overflow-x: hidden;
            text-overflow:ellipsis;
            width: fit-content;
            
            @supports (-ms-content-zooming: none){
                width: 20vw!important;
            }

            .shiny-options-group{
                margin-right: -10px;
            }
        }

        .ui-state-active{
            border: 1px solid transparent;
            background: unset;
            color: unset;
        }
        
        
    }

    .awesome-checkbox{
        padding: 8px 15px 0px 21px!important;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        white-space: nowrap;
        min-width:fit-content;
        min-width:-moz-fit-content;
        text-overflow: ellipsis;
        overflow-x:hidden;

        &:hover{
            background:  $ms-color-themePrimary;
            color: #fff;
        }

        &.checkbox-bs {
            &:hover label{   
                &::after{
                    color: #fff;
                }
            }

            label{
                &::before{
                    border:none;
                    background: transparent;
                    outline: none;
                }

                &::after{
                    color: $ms-color-sharedGreen20;
                }

                // &.defaultID::after{
                //     color: #972929;
                // }
            }
        }
    }


    .radiobs.radio-bs{
        padding: 4px 15px 0px 21px!important;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        white-space: nowrap;
        min-width:fit-content;
        min-width:-moz-fit-content;
        text-overflow: ellipsis;
        overflow-x:hidden;

        &:first-child{
            margin-top: 10px;
        }

        label{
            &::before{
                border:none;
                background: transparent;
                outline: none;
            }

            &::after{
                color: $ms-color-sharedGreen20;
                background-color: $ms-color-sharedGreen20;
            }
        }

        &:hover{
            background:  $ms-color-themePrimary;
            color: #fff;

            label{   
                &::after{
                    background-color: #fff;
                }
            }
        }
    }

    .form-group{
        margin-bottom:0;
    }
    
    .material-switch{
        margin-top:10px;
    }
    
    .ui-widget {
        font-family:unset;

        &.ui-widget-content{
            width: fit-content;
            width: -moz-fit-content;
            box-sizing: content-box;
            border: none;
        }
    }

   

    .ui-state-active:not([id = 'showOriginal-holder']), .ui-widget-content .ui-state-active{
        border: 1px solid $ms-color-themeDarkAlt;
        background:  $ms-color-themePrimary;
        max-height:70vh;
    }
    


}

#doChecks{
    overflow-x: auto;
    white-space: nowrap;

    label{
        padding-left: 0;

        &[for = "doChecks"]{
            float: left;
            margin-bottom: 0px;
            margin-top: -3px;
            width: fit-content;
            animation: width 0.3s ease;

            @media only screen and (max-width: 850px){
                width: 0;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
               

        &::before{
            outline: none;
            background-color: transparent;
            border: none;
        }

        &::after{
            outline: none;
            color: $ms-color-sharedGreen20;
            margin-top: 3px;
        }
    }
}

#DT, #defTable{

    .dataTables_filter {
        padding-right: 13px;

        input{
            border-radius: 0;
            height: 25px;
            border: solid #ccc;
            border-width: 0 0 1.5px 0;
            outline: none;
            font-weight: normal;
            box-sizing: content-box;
            background: transparent;

            &:focus{
                border-color: var(--ms-themeLight);
            }
        }
    }

    .dataTables_info{
        padding-left: 10px;
    }

    .dataTables_paginate.paging_simple_numbers{
        position: relative;
        z-index: 10;
    }

    .dataTables_length{
        margin-left: 40px;

        @media only screen and (max-width: 500px){
            margin-left:0;
        }
    }

    .dataTable{
        &, .dataTable thead th, .dataTable thead td{
            white-space: nowrap;
            border-bottom-color: $ms-color-neutralLight;
        }

        &.animate{
            overflow:hidden;
            tr{
                @include ms-motion-slideLeftIn;
                animation-duration: 500ms!important;
            }
        } 

        td{
            line-height: 15px;
            font-size: 13px;
            padding: 5px;
            text-overflow: ellipsis;
            overflow-x:hidden;
        }
    }
          
    
    .dataTables_scrollHead {
        overflow-y: visible;
        overflow-x: hidden;
        padding-bottom: 300px;
        margin-bottom: -300px;

        .dataTables_scrollHeadInner{
            width:unset!important;
            height: 82px;

            table{
                margin:0 auto!important;

                th.sorting, td{
                    border-bottom-color: var(--color-inactive);
                }

                tr:last-child{
                    box-shadow: 0px 1px 2px var(--color-inactive);
                }                
            }

        }
    }

    table.dataTable table.DTFC_Cloned{
        border-color: var(--ms-neutralPrimary);
    }

    .form-control{
        height: 30px;
        box-shadow: 0 0 0 transparent;
        overflow-x:visible;
    }

    table div.form-group + div {
        @include ms-depth-8;
        
    }

    table.DTFC_Cloned thead, table.DTFC_Cloned tfoot {
        background: var(--ms-neutralQuaternary)
    }
    

    .noUi-connect{
        background: var(--ms-themeLight);
        box-shadow: none;

        .noUi-handle{
            *{
                border:none;
                background:transparent;
            }
        }
    }

    .paginate_button{
        transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        border-radius: 12px;

        &:hover {
            border-radius: 18px;
            background: var(--ms-themeTertiary);
            border-color: transparent;
        }

        &.disabled:hover {
            border-radius: 18px;
            background: var(--ms-neutralLight);
            border-color: transparent;
        }

        &.current {
            border-radius: 18px;
            background: var(--ms-themePrimary);
            color: #fff!important;
            border-color: transparent;
        }
    }

}

.dataTables_scrollBody{
    #DT &{
        max-height: calc(100vh - 270px); 
    }

    #defTable &{
        max-height: calc(100vh - 230px); 
    }
    
}

#defTable{
    >div>br{display: none;}

    .control-buttons{
        position: absolute;
        top: 0;
        left: 5px;
        z-index: 1000;
        button{
            margin-left:5px;
            border-radius: 4px;
            transition: all 0.3s ease-in-out;
            background-color: $ms-color-neutralLighter;
                border-color: $ms-color-neutralLighter;
            outline: none;
    
            &:hover{
                box-shadow: $ms-depth-shadow-8;
                background-color: #fff;
            }
    
            &:active{
                color: #fff;
                background-color: $ms-color-neutralQuaternary;
                border-color: $ms-color-neutralQuaternary;
                box-shadow: none;
                border-width: 1px;
            }

            &#defTable_add{
                background-color: $ms-color-sharedRed10;
                border-color: $ms-color-sharedRed10;
                color: #fff;

                &:hover{
                    background-color: $ms-color-sharedRed20;
                    border-color: $ms-color-sharedRed20;
                }
            }
    
            &#defTable_edit, &#defTable_remove, &#defTable_copy{
                transition: all 0.3s ease-in-out;
                opacity: 1;
                
                &.btn-disabled{
                    width: 0;
                    overflow: hidden;
                    opacity: 0;
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: -5px;
                    border: none;
                    outline: none;
                }
            }
        }
    }
    


    .dataTables_scrollHead {
        overflow-y: visible;
        overflow-x: hidden;
        padding-bottom: 300px;
        margin-bottom: -300px;

        .dataTables_scrollHeadInner{
            width:unset!important;
            height: 42px;

            table{
                margin:0 auto!important;

                th.sorting, td{
                    border-bottom-color: $ms-color-neutralLight;
                }

                tr:last-child{
                    box-shadow: 0px 1px 2px $ms-color-neutralLight;
                }                
            }
        }
    }
}
#mainUI{
    overflow: hidden;
}
#fullProgram{
    
    #doChecks_simple{
        padding: 0 10px;
    }

    .navbar{
        @include ms-motion-slideDownIn;
        animation-duration: 500ms;
        animation-delay: 200ms;
        background-color: $ms-color-neutralLighter;
        @supports (backdrop-filter: blur(8px)){
            backdrop-filter: blur(8px);
        }
        border-color: transparent;
        position: sticky;
        position: -webkit-sticky;

        .navbar-header{
            cursor: default;
            user-select: none;
            white-space: nowrap;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            -khtml-user-select: none;
            -webkit-touch-callout: none;  
            width: fit-content;
            max-width: 100vw;

            .navbar-brand {
                margin-left: 0;
                &::before{
                    content: '🤖 ';
                }
            }
        }

        .nav.navbar-nav{
            li{
                @include ms-motion-slideUpIn;
                animation-duration: 500ms;
                
                &:nth-child(1){animation-delay: 350ms;}
                &:nth-child(2){animation-delay: 450ms;}
                &:nth-child(3){animation-delay: 550ms;}
            }
           
            >.active>a{
                background-color: transparent;
                color: var(--ms-themeDarker);
            }
            a {
                transition: all 0.3s ease;

                &:hover{
                    color: #000;
                }
            }
        }

              

        #tab-underline{
            display: block;
            position: absolute;
            bottom: 0px;
            height: 2px;
            left: var(--barLeft);
            right: var(--barRight);
            background-color: var(--ms-themeDarker);
            border-radius: 4px;
            transition: 0.3s all ease-in;
        }
    } 
}

#inputBox{
    #inputDialog & {
        
        #datasource_progress{
            height: 3px;
            overflow: hidden;
            margin-top: -3px;
            z-index: 100002;
            position: relative;
        }
    
        #fileInput{
            position:relative;
            top: 30px;
        }
    }

    .navbar & {
        position: absolute;
        right: 8px;
        top: 15px;
        max-width: 30vw;
        transition: all 0.3s ease-in-out;

        label{
            display:none;
        }

        #fileInput{
            @include ms-motion-slideUpIn;
            animation-duration: 500ms;
            animation-delay: 650ms;
            position: relative;
            transition: all 0.3s ease-in-out;
            float:left;
            width: var(--FileInputWidth);
            top: 0;
            
            input[type='text']{
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            
    
            &>.form-group.shiny-input-container{
                width: 100%;

                .input-group{
                    width:100%;
                }
            }
    
            #datasource_progress{
                height: 3px;
                overflow: hidden;
                margin-top: -3px;
                z-index: 100002;
                position: relative;
            }
        }

        #sheetPicker{
            @include ms-motion-slideUpIn;
            animation-duration: 500ms;
            animation-delay: 750ms;
            float:left;
            transition: all 0.3s ease-in-out;
            width: calc(100% - var(--FileInputWidth) - 4px);
            margin-left: 4px;
            .form-group.shiny-input-container>br{display:none;}
        }
    }
}

#inputDialog{
    display: block;
    z-index:10001;
    position: absolute;
    top: 50vh;
    left: 50vw;
    // max-width:calc(25% - 10px);
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;

    label{
        white-space: nowrap;
        text-overflow: ellipsis;
        
        span.btn.btn-file{
            background-color: var(--ms-themePrimary);
            color: #fff;
        }
    }

    .dialog{
        width: 400px;
        height: 300px;
        top: calc(50% - 150px);
        left: calc(50% - 200px);

        #header{
            margin: 30px 0px;
            width: 100%;
            display:block;
            font-size: 20px;

            em{
                font-size: 1vmin;
            }

            h1::before{
                content: '🤖 ';
                font-size: inherit;
                display: inline;
            }
        }
    }

    .shiny-input-container:not(.shiny-input-container-inline){
        width:100%;
    }

    #app-meta a{
        position:absolute;
        z-index:-1;
        bottom: 0;
        left:0;
        width:100%;
        padding-bottom: 5px;
        text-align: center;
        color: $ms-color-gray110;
        font-size: $ms-font-size-10;
        transition: all 300ms ease-in-out;

        &:hover{
            text-decoration: none;
            transform: scale(1.03);
            color: $ms-color-gray140;
        }
    }
}

.container-fluid {
    padding:0;
}

.row{
    margin-left:0;
    margin-right:0;
}

.doki-kaboom{
    animation: doki-kaboom 0.75s ease-in;
}

.tab-content .grand-tab.tab-pane {
    @include ms-motion-scaleDownIn;
    animation-duration: 500ms;
    animation-delay: 200ms;
    padding-bottom: 50px;
}

.dropdown.bootstrap-select.form-control{
    .dropdown-menu.open{
        @include ms-motion-slideDownIn;
        @include ms-depth-8;
        animation-duration: 0.3s;
        border: none;
    }
    &.dropup{
        .dropdown-menu.open{
            @include ms-motion-slideUpIn;
            animation-duration: 0.3s;
        }
    }
}

.material-switch {
    span{
        white-space: nowrap;
    }

    & > label{
        ::before {
            border: 1px rgba(0, 0, 0, 0.4) solid;
        }

        &:hover::before{
            -webkit-filter: brightness(1.5);
            filter: brightness(1.5);
        }
    }
}

#sheetPicker{
    div{
        @include ms-motion-slideDownIn;
        animation-duration: 0.5s;
    }
} 



.doki-doki{
    animation: doki-doki 0.5s ease-in-out infinite alternate-reverse;
}

.tippy-popper{
    z-index: 100002!important;
}

.width0{
    width:0px;
    float:left;
    margin:0;
    padding:0;
}

.swal-overlay{
    z-index: 100001;
    background-color: rgba(0,0,0,0.2);

    .swal-modal{
        border-radius: 4px;
        @include ms-depth-16;

        .swal-title{
            text-align: left;
        }

        .swal-button{
            border-radius: 4px;
            background-color: var(--ms-themePrimary);
            padding: 10px 34px;

            &.swal-button--cancel{
                background-color: var(--ms-neutralLight)
            }
        }
    }
}

.modal-content{
    @include ms-depth-64;
    @include ms-motion-slideDownIn;
    animation-duration: 500ms;
    border-radius: 4px;
    border: 1px solid transparent;
    
    .modal-title {text-align: center}
    .modal-footer {
        padding: 15px 0;
        .btn{
            transition: all 0.3s ease-in-out;
            min-width: 100px;
            height: 40px;
            font-size: 13px;
            outline: none;
            border: 1px solid $ms-color-neutralLight;
            background-color: $ms-color-neutralLight;
    
            &:hover{
                background-color: $ms-color-neutralQuaternary;
                border-color: $ms-color-neutralQuaternary;
            }
    
            &:last-child{
                color: #fff;
                background-color: $ms-color-themePrimary;
                border-color: $ms-color-themePrimary;
                &:hover{
                    background-color: $ms-color-themeDarkAlt;
                    border-color: $ms-color-themeDarkAlt;
                }
            }
        }
    }
}

.working-dialog{
    position: fixed;
    display: none;
    z-index: 100000;
    @include ms-depth-64;
    @include ms-motion-slideDownIn;
    animation-duration: 400ms;
    background: #fff;
    @supports (backdrop-filter: blur(8px)) {
        background: rbga(255,255,255,0.8);
        backdrop-filter: blur(8px);
    }
    top: calc(50vh - 100px);
    left: calc(50vw - 200px);
    width: 300px;
    height: 100px;
    padding: 20px;
    border-radius: 4px;

    p{
        text-align: justify;
        font-size: 12px;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .marquee-background{
        width: 100%;
        height: 3px;
        padding: 0;
        border: none;
        outline: none;
        background-color: $ms-color-neutralLighter;
        overflow: hidden;
        position: relative;

        .marquee{
            width: 10%;
            height: 3px;
            background-color: $ms-color-sharedGreen20;
            animation: marquee 2s linear infinite;
            position: absolute;
        }
    }    
}