@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono&subset=latin-ext");
@import url("./etc/fabric.min.css");
@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.lds-roller {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  --color: rgb(66, 66, 66);
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 32px 32px;
          transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--color-primary);
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/materialicons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("fonts/materialicons/MaterialIcons-Regular.woff2") format("woff2"), url("fonts/materialicons/MaterialIcons-Regular.woff") format("woff"), url("fonts/materialicons/MaterialIcons-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'banschrift-online';
  src: url("fonts/bahnschrift.ttf");
}

@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fa-solid-900.ttf");
}

@font-face {
  font-family: 'FiraSans';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/FiraSans-Regular.otf");
}

@font-face {
  font-family: 'FiraSans';
  font-style: italic;
  font-weight: normal;
  src: url("fonts/FiraSans-BookItalic.otf");
}

@font-face {
  font-family: 'FiraSans';
  font-style: normal;
  font-weight: bold;
  src: url("fonts/FiraSans-SemiBold.otf");
}

@font-face {
  font-family: 'FiraSans';
  font-style: italic;
  font-weight: bold;
  src: url("fonts/FiraSans-SemiBoldItalic.otf");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
@-webkit-keyframes marquee {
  0% {
    left: -50%;
  }
  100% {
    left: 150%;
  }
}
@keyframes marquee {
  0% {
    left: -50%;
  }
  100% {
    left: 150%;
  }
}

@-webkit-keyframes doki-doki {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes doki-doki {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@-webkit-keyframes doki-kaboom {
  0% {
    -webkit-transform: initial;
            transform: initial;
    opacity: 1;
  }
  30% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

@keyframes doki-kaboom {
  0% {
    -webkit-transform: initial;
            transform: initial;
    opacity: 1;
  }
  30% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

@-webkit-keyframes float-struggle-up {
  0% {
    top: calc(100vh - 357px);
  }
  10% {
    top: calc(100vh - 390px);
  }
  50% {
    top: calc(100vh - 390px);
  }
  100% {
    top: calc(100vh - 357px);
  }
}

@keyframes float-struggle-up {
  0% {
    top: calc(100vh - 357px);
  }
  10% {
    top: calc(100vh - 390px);
  }
  50% {
    top: calc(100vh - 390px);
  }
  100% {
    top: calc(100vh - 357px);
  }
}

:root {
  --barLeft: 0;
  --barRight: auto;
  --color-primary-light:rgb(66, 66, 66);
  --color-primary-light-transparent:rgb(66, 66, 66, 0.5);
  --color-background-light: #f3f3f3;
  --color-background-light-transparent: #f3f3f3b7;
  --color-shadow-light: rgb(117, 117, 117);
  --color-active-light: rgb(40, 104, 163);
  --color-inactive-light: rgb(136, 136, 136);
  --color-active-dark: #7BB0E3;
  --ms-themePrimary: #0078d4;
  --ms-themeLighterAlt: #f3f9fd;
  --ms-themeLighter: #d0e7f8;
  --ms-themeLight: #a9d3f2;
  --ms-themeTertiary: #5ca9e5;
  --ms-themeSecondary: #1a86d9;
  --ms-themeDarkAlt: #006cbe;
  --ms-themeDark: #005ba1;
  --ms-themeDarker: #004377;
  --ms-neutralLighterAlt: #f8f8f8;
  --ms-neutralLighter: #f4f4f4;
  --ms-neutralLight: #eaeaea;
  --ms-neutralQuaternaryAlt: #dadada;
  --ms-neutralQuaternary: #d0d0d0;
  --ms-neutralTertiaryAlt: #c8c8c8;
  --ms-neutralTertiary: #bab8b7;
  --ms-neutralSecondary: #a3a2a0;
  --ms-neutralPrimaryAlt: #8d8b8a;
  --ms-neutralPrimary: #323130;
  --ms-neutralDark: #605e5d;
  --ms-black: #494847;
  --ms-white: #ffffff;
}

.hidden {
  display: none !important;
}

.pseudo-hidden {
  opacity: 0 !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  pointer-events: none !important;
}

.dialog {
  -webkit-box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
  display: block;
  position: fixed;
  z-index: 100000;
  padding: 10px;
  background-color: #faf9f8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
  border-radius: 4px;
}

.dialog::before {
  position: fixed;
  background: var(--color-dim-light);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}

.shadowSurge {
  -webkit-animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.shadowPlunge {
  -webkit-animation: ms-motion-fadeOut 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-fadeOut 100ms cubic-bezier(0, 0, 1, 1) both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

body {
  transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  min-width: 300px;
  background: #f3f2f1;
  outline-color: #0078d4;
  overflow-x: hidden;
}

body #header {
  cursor: default;
  user-select: none;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
}

body #header em {
  font-size: 1vmin;
  margin-bottom: 10px;
}

body #header h1 {
  font-weight: bold;
  margin-bottom: 1px;
  white-space: nowrap;
  height: 3vw;
  font-size: 4.5vmin;
}

body #foreground {
  position: fixed;
  z-index: 10000;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

body #foreground #text {
  /*Internet Explorer 10*/
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /*Firefox*/
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /*Safari, Opera, and Chrome*/
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /*W3C*/
  display: box;
  box-pack: center;
  box-align: center;
  width: 300px;
  height: 150px;
  position: relative;
  top: calc(50% - 75px);
  left: calc(50% - 150px);
  color: var(--color-primary);
  background: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: var(--color-shadow) 0px 0px 10px;
  -moz-box-shadow: var(--color-shadow) 0px 0px 10px;
  -ms-box-shadow: var(--color-shadow) 0px 0px 10px;
  -webkit-box-shadow: var(--color-shadow) 0px 0px 10px;
  -o-box-shadow: var(--color-shadow) 0px 0px 10px;
  font-size: 17px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

body #foreground #text span {
  position: absolute;
  bottom: 5px;
  margin: auto;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

body #foreground #text .lds-roller {
  display: inline-block;
  position: absolute;
  top: 30px;
}

#defTableHolder {
  max-height: 50vh;
  padding: 5px;
  overflow-y: auto;
}

#defTableHolder #defTable {
  min-width: 700px;
  overflow-x: auto;
  overflow-y: hidden;
}

#defTableHolder #defTable .ht_master .wtHolder {
  overflow: visible;
}

#defTableHolder #defTable table.htCore {
  width: 100%;
  margin-right: 15px;
}

#tmp * {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

.float {
  z-index: 10000;
}

.options.float {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
  padding: 0px 5px 5px 5px;
  border-radius: 4px;
  position: fixed;
  top: calc(100vh - 31px);
  left: 5px;
  right: 5px;
  background-color: #fff;
  width: calc(100% - 10px);
  height: 350px;
  -webkit-box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
          box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
  border: 1px solid #e1dfdd;
  -webkit-transition: all 275ms ease-in;
  transition: all 275ms ease-in;
}

.options.float::before {
  content: ' ';
  font-size: 12px;
  position: absolute;
  top: 8px;
  left: 50%;
  font-weight: 800;
}

.options.float:hover {
  -webkit-box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
}

@supports ((-webkit-backdrop-filter: blur(7px)) or (backdrop-filter: blur(7px))) {
  .options.float {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
  }
}

.options.float .options-toggler {
  position: relative;
  width: 100%;
  height: 35px;
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
}

.options.float .options-toggler .btn-close {
  right: 8px;
  top: 8px;
  font-size: 12px;
  position: absolute;
  display: block;
  color: #605e5c;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  font-weight: 600;
}

.options.float.show {
  top: calc(100vh - 357px);
  -webkit-animation: float-struggle-up 225ms ease-out 250ms;
          animation: float-struggle-up 225ms ease-out 250ms;
  -webkit-box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
  border-color: #fff;
}

.options.float.show .options-toggler .btn-close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.options.float.show .options-toggler .btn-close:hover {
  color: #750b1c;
  text-shadow: ms-depth-shadow-18;
}

#checkUI-holder::before {
  content: 'Checks Configuration';
}

#checkUI-holder #checkUI .nav > li > a {
  padding: 5px 10px;
  color: #323130;
  border-radius: 0;
  border-left: 2px solid transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-size: 12.5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#checkUI-holder #checkUI .nav > li > a:hover {
  background-color: unset;
  border-left-color: #323130;
  color: #004578;
}

#checkUI-holder #checkUI .nav > li.active > a {
  border-left-color: #0078d4;
  color: #0078d4;
  background-color: unset;
}

#checkUI-holder #checkUI .tab-content .arg-holder {
  float: left;
  width: 75%;
  height: 300px;
  overflow-y: auto;
  padding: 5px;
}

#checkUI-holder #checkUI .tab-content .instr-holder {
  float: left;
  width: 25%;
  height: 300px;
  overflow: auto;
  font-size: 12px;
}

#checkUI-holder #checkUI .tab-content .tab-pane.active > div {
  -webkit-animation: ms-motion-slideUpIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-slideUpIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}

#dataOptions {
  float: left;
  z-index: 100001;
  padding: 0;
  width: 0px;
  height: 0px;
  margin-top: -3px;
}

#dataOptions #datasetMenu {
  display: none;
  padding: 0 0 0 10px;
  border: none;
  background-color: transparent;
  color: #8a8886;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}

#dataOptions #datasetMenu:hover {
  color: #106ebe;
}

#dataOptions #datasetMenu:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  color: #106ebe;
}

#dataOptions #datasetMenu span {
  display: none;
}

#dataOptions #datasetMenu i {
  font-size: 20px;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
}

[dir='ltr'] #dataOptions #datasetMenu i {
  -webkit-animation: ms-motion-slideRightIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-slideRightIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
}

[dir='rtl'] #dataOptions #datasetMenu i {
  -webkit-animation: ms-motion-slideLeftIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-slideLeftIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
}

#dataOptions #dropdown-menu-datasetMenu {
  padding: 0;
  margin-left: 10px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
          box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
  -webkit-animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}

#dataOptions #dropdown-menu-datasetMenu ul {
  -webkit-box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
          box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
  border-radius: 4px;
}

#dataOptions #dropdown-menu-datasetMenu ul:not(#dataset-menu) {
  -webkit-animation-duration: 300ms !important;
          animation-duration: 300ms !important;
}

[dir='ltr'] #dataOptions #dropdown-menu-datasetMenu ul:not(#dataset-menu) {
  -webkit-animation: ms-motion-slideRightIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-slideRightIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
}

[dir='rtl'] #dataOptions #dropdown-menu-datasetMenu ul:not(#dataset-menu) {
  -webkit-animation: ms-motion-slideLeftIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-slideLeftIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
}

#dataOptions #dropdown-menu-datasetMenu ul#dataset-menu {
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}

#dataOptions #dropdown-menu-datasetMenu ul#dataset-menu > li {
  padding: 2.5px 0;
}

#dataOptions #dropdown-menu-datasetMenu ul#dataset-menu > li:first-child {
  padding-top: 10px;
}

#dataOptions #dropdown-menu-datasetMenu ul#dataset-menu > li:last-child {
  padding-bottom: 10px;
}

#dataOptions #dropdown-menu-datasetMenu ul#dataset-menu li.disabled {
  pointer-events: none;
  color: #d2d0ce;
  font-style: italic;
}

#dataOptions #dropdown-menu-datasetMenu > li {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#dataOptions #dropdown-menu-datasetMenu > li .menu-button div.form-group.shiny-input-container {
  display: none;
}

#dataOptions #dropdown-menu-datasetMenu > li .menu-button p {
  margin: 0;
}

#dataOptions #dropdown-menu-datasetMenu > li ul {
  width: 100%;
}

#dataOptions #columns-chooser-holder, #dataOptions #key-var-chooser-holder {
  border: 1px solid transparent;
  border-radius: 0 4px 4px 4px;
}

#dataOptions #columns-chooser-holder .disabled, #dataOptions #key-var-chooser-holder .disabled {
  pointer-events: none;
}

#dataOptions #columns-chooser-holder .awesome-checkbox-chooser, #dataOptions #key-var-chooser-holder .awesome-checkbox-chooser {
  max-height: 70vh;
  width: auto;
  overflow-y: hidden !important;
  overflow-x: hidden;
  padding: 0;
  -webkit-box-shadow: 0px 0px 5px var(--color-inactive);
          box-shadow: 0px 0px 5px var(--color-inactive);
}

#dataOptions #columns-chooser-holder .awesome-checkbox-chooser > p, #dataOptions #key-var-chooser-holder .awesome-checkbox-chooser > p {
  padding: 5px;
  margin: 0;
  color: var(--color-inactive);
  text-align: right;
  font-style: italic;
}

#dataOptions #columns-chooser-holder .awesome-checkbox-chooser::-webkit-scrollbar, #dataOptions #key-var-chooser-holder .awesome-checkbox-chooser::-webkit-scrollbar {
  display: none;
}

@supports (-ms-content-zooming: none) {
  #dataOptions #columns-chooser-holder .awesome-checkbox-chooser, #dataOptions #key-var-chooser-holder .awesome-checkbox-chooser {
    margin-top: -25px;
  }
}

#dataOptions #columns-chooser-holder .awesome-checkbox-menu, #dataOptions #key-var-chooser-holder .awesome-checkbox-menu {
  padding: 0px 0px 10px 7px !important;
  max-height: 70vh;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@supports (-ms-content-zooming: none) {
  #dataOptions #columns-chooser-holder .awesome-checkbox-menu, #dataOptions #key-var-chooser-holder .awesome-checkbox-menu {
    width: 20vw !important;
  }
}

#dataOptions #columns-chooser-holder .ui-state-active, #dataOptions #key-var-chooser-holder .ui-state-active {
  border: 1px solid transparent;
  background: unset;
  color: unset;
}

#dataOptions .awesome-checkbox {
  padding: 8px 15px 0px 21px !important;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  white-space: nowrap;
  min-width: -webkit-fit-content;
  min-width: fit-content;
  min-width: -moz-fit-content;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

#dataOptions .awesome-checkbox:hover {
  background: #337ab7;
  color: #fff;
}

#dataOptions .awesome-checkbox.checkbox-bs:hover label::after {
  color: #fff;
}

#dataOptions .awesome-checkbox.checkbox-bs label::before {
  border: none;
  background: transparent;
  outline: none;
}

#dataOptions .awesome-checkbox.checkbox-bs label::after {
  color: #398439;
}

#dataOptions .awesome-checkbox.checkbox-bs label.defaultID::after {
  color: #972929;
}

#dataOptions .radiobs.radio-bs {
  padding: 4px 15px 0px 21px !important;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  white-space: nowrap;
  min-width: -webkit-fit-content;
  min-width: fit-content;
  min-width: -moz-fit-content;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

#dataOptions .radiobs.radio-bs:first-child {
  margin-top: 10px;
}

#dataOptions .radiobs.radio-bs label::before {
  border: none;
  background: transparent;
  outline: none;
}

#dataOptions .radiobs.radio-bs label::after {
  background-color: #398439;
}

#dataOptions .radiobs.radio-bs:hover {
  background: #337ab7;
  color: #fff;
}

#dataOptions .radiobs.radio-bs:hover label::after {
  background-color: #fff;
}

#dataOptions .form-group {
  margin-bottom: 0;
}

#dataOptions .material-switch {
  margin-top: 10px;
}

#dataOptions .ui-widget {
  font-family: unset;
}

#dataOptions .ui-widget.ui-widget-content {
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: none;
}

#dataOptions .ui-state-active:not([id='showOriginal-holder']), #dataOptions .ui-widget-content .ui-state-active {
  border: 1px solid #337ab7;
  background: #337ab7;
  max-height: 70vh;
}

@media only screen and (max-width: 767px) {
  #dataOptions {
    top: 10px;
  }
}

#DT .dataTables_length, #defTable .dataTables_length {
  margin-left: 10px;
}

#DT .dataTables_filter, #defTable .dataTables_filter {
  padding-right: 13px;
}

#DT .dataTables_filter input, #defTable .dataTables_filter input {
  border-radius: 0;
  height: 25px;
  border: solid #ccc;
  border-width: 0 0 1.5px 0;
  outline: none;
  font-weight: normal;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background: transparent;
}

#DT .dataTables_filter input:focus, #defTable .dataTables_filter input:focus {
  border-color: var(--ms-themeLight);
}

#DT .dataTables_info, #defTable .dataTables_info {
  padding-left: 10px;
}

#DT .dataTables_paginate.paging_simple_numbers, #defTable .dataTables_paginate.paging_simple_numbers {
  position: relative;
  z-index: 10;
}

#DT .dataTables_length, #defTable .dataTables_length {
  margin-left: 10px;
}

@media only screen and (max-width: 500px) {
  #DT .dataTables_length, #defTable .dataTables_length {
    margin-left: 0;
  }
}

#DT .dataTable, #DT .dataTable .dataTable thead th, #DT .dataTable .dataTable thead td, #defTable .dataTable, #defTable .dataTable .dataTable thead th, #defTable .dataTable .dataTable thead td {
  white-space: nowrap;
  border-bottom-color: #edebe9;
}

#DT .dataTable.animate, #defTable .dataTable.animate {
  overflow: hidden;
}

#DT .dataTable.animate tr, #defTable .dataTable.animate tr {
  -webkit-animation-duration: 500ms !important;
          animation-duration: 500ms !important;
}

[dir='ltr'] #DT .dataTable.animate tr, [dir='ltr'] #defTable .dataTable.animate tr {
  -webkit-animation: ms-motion-slideLeftIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-slideLeftIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
}

[dir='rtl'] #DT .dataTable.animate tr, [dir='rtl'] #defTable .dataTable.animate tr {
  -webkit-animation: ms-motion-slideRightIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-slideRightIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
}

#DT .dataTable td, #defTable .dataTable td {
  line-height: 15px;
  font-size: 13px;
  padding: 5px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

#DT .dataTables_scrollHead, #defTable .dataTables_scrollHead {
  overflow-y: visible;
  overflow-x: hidden;
  padding-bottom: 300px;
  margin-bottom: -300px;
}

#DT .dataTables_scrollHead .dataTables_scrollHeadInner, #defTable .dataTables_scrollHead .dataTables_scrollHeadInner {
  width: unset !important;
  height: 82px;
}

#DT .dataTables_scrollHead .dataTables_scrollHeadInner table, #defTable .dataTables_scrollHead .dataTables_scrollHeadInner table {
  margin: 0 auto !important;
}

#DT .dataTables_scrollHead .dataTables_scrollHeadInner table th.sorting, #DT .dataTables_scrollHead .dataTables_scrollHeadInner table td, #defTable .dataTables_scrollHead .dataTables_scrollHeadInner table th.sorting, #defTable .dataTables_scrollHead .dataTables_scrollHeadInner table td {
  border-bottom-color: var(--color-inactive);
}

#DT .dataTables_scrollHead .dataTables_scrollHeadInner table tr:last-child, #defTable .dataTables_scrollHead .dataTables_scrollHeadInner table tr:last-child {
  -webkit-box-shadow: 0px 1px 2px var(--color-inactive);
          box-shadow: 0px 1px 2px var(--color-inactive);
}

#DT table.dataTable table.DTFC_Cloned, #defTable table.dataTable table.DTFC_Cloned {
  border-color: var(--ms-neutralPrimary);
}

#DT .form-control, #defTable .form-control {
  height: 30px;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  overflow-x: visible;
}

#DT table div.form-group + div, #defTable table div.form-group + div {
  -webkit-box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
          box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
}

#DT table.DTFC_Cloned thead, #DT table.DTFC_Cloned tfoot, #defTable table.DTFC_Cloned thead, #defTable table.DTFC_Cloned tfoot {
  background: var(--ms-neutralQuaternary);
}

#DT .noUi-connect, #defTable .noUi-connect {
  background: var(--ms-themeLight);
  -webkit-box-shadow: none;
          box-shadow: none;
}

#DT .noUi-connect .noUi-handle *, #defTable .noUi-connect .noUi-handle * {
  border: none;
  background: transparent;
}

#DT .paginate_button, #defTable .paginate_button {
  transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  border-radius: 12px;
}

#DT .paginate_button:hover, #defTable .paginate_button:hover {
  border-radius: 18px;
  background: var(--ms-themeTertiary);
  border-color: transparent;
}

#DT .paginate_button.disabled:hover, #defTable .paginate_button.disabled:hover {
  border-radius: 18px;
  background: var(--ms-neutralLight);
  border-color: transparent;
}

#DT .paginate_button.current, #defTable .paginate_button.current {
  border-radius: 18px;
  background: var(--ms-themePrimary);
  color: #fff !important;
  border-color: transparent;
}

#DT .dataTables_scrollBody {
  max-height: calc(100vh - 380px);
}

#defTable .dataTables_scrollBody {
  max-height: calc(100vh - 220px);
}

#defTable > div > br {
  display: none;
}

#defTable .control-buttons {
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 1000;
}

#defTable .control-buttons button {
  margin-left: 5px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f3f2f1;
  border-color: #f3f2f1;
  outline: none;
}

#defTable .control-buttons button:hover {
  -webkit-box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
          box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
  background-color: #fff;
}

#defTable .control-buttons button:active {
  color: #fff;
  background-color: #d2d0ce;
  border-color: #d2d0ce;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-width: 1px;
}

#defTable .control-buttons button#defTable_add {
  background-color: #d13438;
  border-color: #d13438;
  color: #fff;
}

#defTable .control-buttons button#defTable_add:hover {
  background-color: #a4262c;
  border-color: #a4262c;
}

#defTable .control-buttons button#defTable_edit, #defTable .control-buttons button#defTable_remove, #defTable .control-buttons button#defTable_copy {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#defTable .control-buttons button#defTable_edit.btn-disabled, #defTable .control-buttons button#defTable_remove.btn-disabled, #defTable .control-buttons button#defTable_copy.btn-disabled {
  width: 0;
  overflow: hidden;
  opacity: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: -5px;
  border: none;
  outline: none;
}

#defTable .dataTables_scrollHead {
  overflow-y: visible;
  overflow-x: hidden;
  padding-bottom: 300px;
  margin-bottom: -300px;
}

#defTable .dataTables_scrollHead .dataTables_scrollHeadInner {
  width: unset !important;
  height: 42px;
}

#defTable .dataTables_scrollHead .dataTables_scrollHeadInner table {
  margin: 0 auto !important;
}

#defTable .dataTables_scrollHead .dataTables_scrollHeadInner table th.sorting, #defTable .dataTables_scrollHead .dataTables_scrollHeadInner table td {
  border-bottom-color: var(--color-inactive);
}

#defTable .dataTables_scrollHead .dataTables_scrollHeadInner table tr:last-child {
  -webkit-box-shadow: 0px 1px 2px var(--color-inactive);
          box-shadow: 0px 1px 2px var(--color-inactive);
}

#fullProgram #doChecks_simple {
  padding: 0 10px;
}

#fullProgram .navbar {
  -webkit-animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  background-color: #f3f2f1;
  border-color: transparent;
  position: sticky;
  position: -webkit-sticky;
}

@supports ((-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px))) {
  #fullProgram .navbar {
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
}

#fullProgram .navbar .navbar-header {
  cursor: default;
  user-select: none;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
}

#fullProgram .navbar .navbar-header .navbar-brand {
  margin-left: 0;
}

#fullProgram .navbar .navbar-header .navbar-brand::before {
  content: '🤖 ';
}

#fullProgram .navbar .nav.navbar-nav li {
  -webkit-animation: ms-motion-slideUpIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-slideUpIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

#fullProgram .navbar .nav.navbar-nav li:nth-child(1) {
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
}

#fullProgram .navbar .nav.navbar-nav li:nth-child(2) {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

#fullProgram .navbar .nav.navbar-nav li:nth-child(3) {
  -webkit-animation-delay: 550ms;
          animation-delay: 550ms;
}

#fullProgram .navbar .nav.navbar-nav > .active > a {
  background-color: transparent;
  color: var(--ms-themeDarker);
}

#fullProgram .navbar .nav.navbar-nav a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#fullProgram .navbar .nav.navbar-nav a:hover {
  color: #000;
}

#fullProgram .navbar #tab-underline {
  display: block;
  position: absolute;
  bottom: 0px;
  height: 2px;
  left: var(--barLeft);
  right: var(--barRight);
  background-color: var(--ms-themeDarker);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

#inputDialog #inputBox #datasource_progress {
  height: 3px;
  overflow: hidden;
  margin-top: -3px;
  z-index: 100002;
  position: relative;
}

#inputDialog #inputBox #fileInput {
  position: relative;
  top: 30px;
}

.navbar #inputBox {
  position: absolute;
  right: 8px;
  top: 15px;
  max-width: 30vw;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar #inputBox label {
  display: none;
}

.navbar #inputBox #fileInput {
  -webkit-animation: ms-motion-slideUpIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-slideUpIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 650ms;
          animation-delay: 650ms;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: left;
  width: var(--FileInputWidth);
  top: 0;
}

.navbar #inputBox #fileInput input[type='text'] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.navbar #inputBox #fileInput > .form-group.shiny-input-container {
  width: 100%;
}

.navbar #inputBox #fileInput > .form-group.shiny-input-container .input-group {
  width: 100%;
}

.navbar #inputBox #fileInput #datasource_progress {
  height: 3px;
  overflow: hidden;
  margin-top: -3px;
  z-index: 100002;
  position: relative;
}

.navbar #inputBox #sheetPicker {
  -webkit-animation: ms-motion-slideUpIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-slideUpIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
  float: left;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: calc(100% - var(--FileInputWidth) - 4px);
  margin-left: 4px;
}

.navbar #inputBox #sheetPicker .form-group.shiny-input-container > br {
  display: none;
}

#inputDialog {
  display: block;
  z-index: 10001;
  position: absolute;
  top: 50vh;
  left: 50vw;
  max-width: calc(25% - 10px);
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

#inputDialog label {
  white-space: nowrap;
  text-overflow: ellipsis;
}

#inputDialog label span.btn.btn-file {
  background-color: var(--ms-themePrimary);
  color: #fff;
}

#inputDialog .dialog {
  width: 400px;
  height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
}

#inputDialog .dialog #header {
  margin: 30px 0px;
  width: 100%;
  display: block;
  font-size: 20px;
}

#inputDialog .dialog #header em {
  font-size: 1vmin;
}

#inputDialog .dialog #header h1::before {
  content: '🤖 ';
  font-size: inherit;
  display: inline;
}

#inputDialog .shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
}

#inputDialog #app-meta a {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 5px;
  text-align: center;
  color: #8a8886;
  font-size: 10px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#inputDialog #app-meta a:hover {
  text-decoration: none;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  color: #484644;
}

.container-fluid {
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.doki-kaboom {
  -webkit-animation: doki-kaboom 0.75s ease-in;
          animation: doki-kaboom 0.75s ease-in;
}

.tab-content .grand-tab.tab-pane {
  -webkit-animation: ms-motion-scaleDownIn 300ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-scaleDownIn 300ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  padding-bottom: 50px;
}

.material-switch span {
  white-space: nowrap;
}

.material-switch > label ::before {
  border: 1px rgba(0, 0, 0, 0.4) solid;
}

.material-switch > label:hover::before {
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
}

#sheetPicker div {
  -webkit-animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.doki-doki {
  animation: doki-doki 0.5s ease-in-out infinite alternate-reverse;
}

.tippy-popper {
  z-index: 100002 !important;
}

.width0 {
  width: 0px;
  float: left;
  margin: 0;
  padding: 0;
}

.swal-overlay {
  z-index: 100001;
  background-color: rgba(0, 0, 0, 0.2);
}

.swal-overlay .swal-modal {
  border-radius: 4px;
  -webkit-box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
          box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
}

.swal-overlay .swal-modal .swal-title {
  text-align: left;
}

.swal-overlay .swal-modal .swal-button {
  border-radius: 4px;
  background-color: var(--ms-themePrimary);
  padding: 10px 34px;
}

.swal-overlay .swal-modal .swal-button.swal-button--cancel {
  background-color: var(--ms-neutralLight);
}

.modal-content {
  -webkit-box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
  -webkit-animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  border-radius: 4px;
  border: 1px solid transparent;
}

.modal-content .modal-title {
  text-align: center;
}

.modal-content .modal-footer {
  padding: 15px 0;
}

.modal-content .modal-footer .btn {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  min-width: 100px;
  height: 40px;
  font-size: 13px;
  outline: none;
  border: 1px solid #edebe9;
  background-color: #edebe9;
}

.modal-content .modal-footer .btn:hover {
  background-color: #d2d0ce;
  border-color: #d2d0ce;
}

.modal-content .modal-footer .btn:last-child {
  color: #fff;
  background-color: #0078d4;
  border-color: #0078d4;
}

.modal-content .modal-footer .btn:last-child:hover {
  background-color: #106ebe;
  border-color: #106ebe;
}

.working-dialog {
  position: fixed;
  display: none;
  z-index: 100000;
  -webkit-box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
  -webkit-animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
          animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  background: #fff;
  top: calc(50vh - 100px);
  left: calc(50vw - 200px);
  width: 300px;
  height: 100px;
  padding: 20px;
  border-radius: 4px;
}

@supports ((-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px))) {
  .working-dialog {
    background: rbga(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
}

.working-dialog p {
  text-align: justify;
  font-size: 12px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 30px;
}

.working-dialog .marquee-background {
  width: 100%;
  height: 3px;
  padding: 0;
  border: none;
  outline: none;
  background-color: #f3f2f1;
  overflow: hidden;
  position: relative;
}

.working-dialog .marquee-background .marquee {
  width: 10%;
  height: 3px;
  background-color: #0b6a0b;
  -webkit-animation: marquee 2s linear infinite;
          animation: marquee 2s linear infinite;
  position: absolute;
}
/*# sourceMappingURL=styles.css.map */